.container-2 {
  margin: 3rem;
  // width: 90%;
  display: grid;
  grid-template-rows: 3vw 15vw 14vw 6vw 6vw;
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start]
    minmax(4rem, 1fr) [center-start]
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(4rem, 1fr) [full-end];
  gap: 2rem;
}

.sidebar {
  background-color: yellow;
  grid-column: sidebar-start/col-start 2;
  grid-row: 1/-1;

  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-link {
  width: 80%;
  display: flex;
  flex-flow: column;

  &__link {
    padding-top: 1.5rem;
    display: block;
    height: 5rem;
    border-bottom: 1px solid #333;
  }
}
.profile-name {
  // background-color: yellowgreen;
  grid-column: col-start 2/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content-user {
  grid-column: col-start 2/7;
  grid-row: 2/-1;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.profile {
  display: flex;
  align-items: center;

  &__img {
    height: 2.9rem;
    border-radius: 50px;
    display: block;
    margin-right: 1rem;
  }
}

.profile-pic {
  // background-color: aqua;
  grid-column: col-start 2 / col-start 4;
  display: flex;
  flex-flow: column;
  align-items: center;
  &__img {
    height: 15vw;
    border-radius: 100%;
    display: block;
    margin-right: 1rem;
  }
}

.profile-description {
  // background-color: rgb(255, 0, 187);
  grid-column: col-start 2 / col-start 4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;

  &__key-p {
    display: flex;
    justify-content: space-between;
  }
}

.semi {
  margin-right: 2.45rem;
}

.company-description {
  grid-column: col-start 2 / col-start 4;
  grid-row: 4/6;
  display: flex;
  flex-flow: column;

  &__value-p {
    font-size: 1.6rem;
  }

  &__key-p {
    display: flex;
    justify-content: space-between;
  }

  &__sub {
    align-self: center;
    margin-bottom: 0.5rem;
  }
}

.comp-det {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 0.5fr);
  align-items: center;
}

.location {
  grid-column: 7/-1;
  grid-row: 2/-1;
}

.location-description {
  grid-column: col-start 2 / col-start 4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;

  &__key-p {
    display: flex;
    justify-content: space-between;
  }
}

.location__map {
  margin: 2rem;
  background-color: aliceblue;
  height: 30vw;
}

.chat {
  grid-row-start: -1;
  grid-column-end: -1;
}
